{% extends "layout.html" %}

{% block title %}
    Communities
{% endblock %}

{% block main %}
    <table style="width: 100%; padding: 15px;">
        <tr
        style = "background-color: ##CEF6E3; color: #537fbe;">
            <th>Communities</th>
            <th>Private</th>
            <th>Description</th>
        </tr>
        {% for community in result %}
            <tr>
                <div class = "transparrent">
                <td> <form action="{{ url_for('community') }}" method="post" id='communityform' name='{{ community.name }}'>
                <input value='{{ community.name }}' name='community_btn' type="submit"> </form></td>
                <td>{{ community.private }}</td>
                <td>{{ community.desc }}</td>
                </div>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
