
{% extends "layout.html" %}

{% block title %}
    {{ communityinfo.name }}
{% endblock %}

{% block main %}
    <form action="{{ url_for('community') }}" method="post">
        <fieldset>
          <div style="float:left;">
            <h1>{{ communityinfo.name }}</h1>
            <p>
            {% if not followcheck %}
            <input type="submit" value="follow" name="follow">
            {% else %}
            <input type="submit" value="unfollow" name="unfollow">
            {% endif %}
            </p>
            <p>{{ communityinfo.desc }}</p>
          </div>
            <div class="row">
              {% for image in database %}
              <div class="column">
                <form action="{{ url_for('images') }}" method="post" id='imageform' name='{{image.path}}'>
                  <input value='{{image.path}}' src={{image.path}} name='image_btn' type="image">
                </form>
              </div>
              {% endfor %}
            </div>
        </fieldset>
    </form>


{% endblock %}