{% extends "layout.html" %}

{% block title %}
    Comments
{% endblock %}

{% block main %}
    <table style="width: 100%; padding: 15px;">
        <tr style = "background-color: ##CEF6E3; color: #537fbe;">
            <th>Comments</th>
        </tr>
        {% for comment in commentjes %}
                <td>{{ comment.comment }}</td>
                <div class="row">
                    <div class="thumbnail">
                      <a href="/uploads/<filename>">
                        <td><img src=" {{ comment.image }}" alt= "pussy" style="width:20%"></td>
                      </a>
                    </div>
                </div>
        {% endfor %}
    </table>
{% endblock %}