{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
<body>
    <form action="{{ url_for('create') }}" method="post">
        <fieldset>
            <p>What would you like as a name for you community?</p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text"/>
            </div>
            <p>Would you like it to to be a private group?</p>
            <div class="form-group">
                <input type="radio" style="height:20px; margin-right: 0; width:20px; vertical-align: middle;" name="private" value="yes"> Yes</input><br>
                <input type="radio" style="height:20px; margin-right: 0; width:20px; vertical-align: middle;" name="private" value="no" > No</input>
            </div>
            <p>Please enter a description of your group:</p>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="desc" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Create Community</button>
            </div>
        </fieldset>
    </form>
</body>
{% endblock %}