{% extends "layout.html" %}

{% block title %}
    Images
{% endblock %}

{% block main %}
<form action="{{ url_for('images') }}" method="post">

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src=" {{ image_path }}" style="width:100%">
        <div class="caption">
          <p>{{ title.title }}</p>
        </div>
    </div>
  </div>
</div>

<div align="left">
  <p>Uploaded by {{ user }} in community {{ community }}</p>
  {% if not likecheck %}
  <input type="submit" value="like" name="like">
  {% else %}
  <input type="submit" value="unlike" name="unlike">
  {% endif %}
	<p>{{ likes.likes }} likes</p>
</div>

  <div class="form-group">
    <label for="comment">Comment <span></span></label>
    <textarea type="text" name="comment" id="comment" class="form-controll" style="height:200px;"id="textbox" ></textarea/>
  </div>
  <div class="form-group">
    <button type="submit" name="comment">Post comment </button>
  </div>

  {% for comment in comments %}
	<h3>{{ comment.id }} said:</h3>
	<p>{{ comment.comment }}</p>
  {% endfor %}

</form>
{% endblock %}

