{% extends "layout.html" %}

{% block title %}
    Images
{% endblock %}

{% block main %}
<form action="{{ url_for('images') }}" method="post">

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/uploads/<filename>">
        <img src=" {{ image_path }}" alt=" pussy" style="width:100%">
        <div class="caption">
          <p>Cute kitty</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div align="left">
	{% if not likecheck %}
	<button type="submit" name="like" value="like">like</button>
	{% else %}
	<button type="submit" name="like" value="unlike">like</button>
	{% endif %}
	<p>{{ likes.likes }}</p>
</div>

  <div class="form-group">
    <label for="description">Comment <span></span></label>
    <textarea type="text" name="comment" id="comment" class="form-controll" style="height:200px;"id="textbox" ></textarea/>
  </div>
  <div class="form-group">
    <button type="submit" name="comment">Post comment </button>
  </div>

  {% for comment in comments %}
	<h3>{{ comment.id }} said:</h3>
	<p>{{ comment.comment }}</p>
  {% endfor %}

</form>
{% endblock %}

