{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="on" autofocus class="form-control" name="opdracht" placeholder="Enter keywords" type="text"/>
            </div>
        </fieldset>
    </form>

    {% set counter = 0 -%}
     <div class="row">
        {% for community in result %}

              <div class="column">
                <img src="wedding.jpg">
                <img src="rocks.jpg">
                <img src="falls2.jpg">
                <img src="paris.jpg">
                <img src="nature.jpg">
                <img src="mist.jpg">
                <img src="paris.jpg">
              </div>
              <div class="column">
                <img src="underwater.jpg">
                <img src="ocean.jpg">
                <img src="wedding.jpg">
                <img src="mountainskies.jpg">
                <img src="rocks.jpg">
                <img src="underwater.jpg">
              </div>
              <div class="column">
                <img src="wedding.jpg">
                <img src="rocks.jpg">
                <img src="falls2.jpg">
                <img src="paris.jpg">
                <img src="nature.jpg">
                <img src="mist.jpg">
                <img src="paris.jpg">
              </div>
              <div class="column">
                <img src="underwater.jpg">
                <img src="ocean.jpg">
                <img src="wedding.jpg">
                <img src="mountainskies.jpg">
                <img src="rocks.jpg">
                <img src="underwater.jpg">
              </div>
    </div>

{% endblock %}