{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="{{ url_for('profile') }}" method="post">
	    <link href='profile.css' rel='profile' type='text/css'>
	    <div class="card">
  		    <h1>{{profiel.name}}</h1>
  		    <p class="title">{{profiel.description}}</p>
  		    <p>{{profiel.birthday}}</p>
  		    <a href="editprofile">Edit Profile</a>
  		    <a href="password">Edit Password</a>
  		    <a href="likes">See your likes</a>
  		    <a href="comments">See your comments</a>
  		</div>
  	</form>

{% endblock %}
