{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="{{ url_for('profile') }}" method="post">
	    <link href='profile.css' rel='profile' type='text/css'>
	    <body>
	    <div id="main-content">
		<div id="left-column">
			<div id="logo">
			Welcome to {{profiel.name}}'s Webpage<br>
			</div>
			<div class="box">
        		<h4>About me: </h4>
        		<p>{{profiel.description}}</p><br>
        		<p>My birthday is: {{profiel.birthday}}</p>
			</div>
		</div>
	</body>
  	</form>

{% endblock %}
