{% extends "layout.html" %}

{% block title %}
    profile
{% endblock %}

{% block main %}
    <form action="{{ url_for('profile') }}" method="post">
	<link href='profile.css' rel='profile' type='text/css'>
	<div class="container">
	    <div class="fb-profile">
	        <img align="right" class="fb-image-lg" src="http://wowslider.com/sliders/demo-10/data/images/dock.jpg" alt="Profile image example"/>
	        <img align="right" class="fb-image-profile thumbnail" src="http://2.bp.blogspot.com/-9J-2HjcDML8/VFcY0LSQkGI/AAAAAAAAArA/LetlZU8aCrY/s1600/stylish-girl-with-unique-hair-style-dp-for-facebook-profile-picture.jpg" alt="Profile image example"/>
	        <div class="fb-profile-text">
	            <h1>Eli Macy</h1>
	            <p>Girls just wanna go fun.</p>
	        </div>
	    </div>
	</div> <!-- /container -->

{% endblock %}
