{% extends "layout.html" %}

{% block title %}
    upload
{% endblock %}

{% block main %}
<form action="{{ url_for('upload') }}" method="post" enctype = "multipart/form-data">

  <h1><strong>Icarus</strong> Image upload</h1>

  <div class="form-group">
    <label for="title">Title <span></span></label>
    <input type="text" name="title" id="title" class="form-controll"/>
  </div>


  <div class="form-group">
    <label for="community upload">Community <span></span></label>
    <select name="community upload" id="community upload" class="form-controll">
    {% for community in result %}
      <option value="volvo">{{ community.name }}</option>
    {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="description">Description <span></span></label>
    <textarea type="text" name="description" id="description" class="form-controll" style="height:200px;"id="textbox" ></textarea/>
  </div>

  <div class="file-area">
    <input type="file" name="images" id="images" required="required" multiple="multiple"/>
  </div>

  <div class="form-group">
    <button type="submit" name="upload_image">Upload images </button>
  </div>

</form>
{% endblock %}

